/* Media Query 1170px */
@media (max-width:1170px){

    /* General CSS */
    .section-subtittle{
        max-width: 60%;
    }

    /* 02 Banner Section */
    .banner-section .carousel-item{
        height: 90vh;
    }
}

@media (max-width:991px){
    /* General Css*/
    .about .banner-section,
    .product .banner-section,
    .gallery .banner-section,
    .contact .banner-section,
    .distributors .banner_section{
        padding-top: 12.5rem;
        padding-bottom: 3rem;
    }
    /* 01 Navbar Css*/
    .header .navbar{
        background-size: cover;
        padding: 2rem;
    }
    .header .navbar-nav{
        margin-top: 2rem;
    }
    .header .navbar-nav .nav-link{
        padding: 0.2rem 0.5rem;
        margin-bottom: 1rem;
    }
    .header .header_right span{
        padding: 0.2rem 0.5rem;
    }
}

@media (max-width:767px){
    /*General CSS*/
    body,html{
        font-size: 8px;
    }
    .section-subtittle{
        max-width: 80%;
    }
    /*02 Banner Section*/
    .banner-section{
        min-width: 70vh;
    }
    .banner-section .carousel-item{
        height: 70vh;
    }
}

@media (max-width:590px){
    /* General CSS*/
    body,html{
        font-size: 7px;
    }
}